# Configuration for coverage.py

[run]
branch = True
source = template
include = */template/*
omit =
    */setup.py
    # Exclude datasets from coverage as those files imply to download and store data.
    # Excluding both torch_concepts/data/datasets/dataset_file.py
    */torch_concepts/data/datasets/dsprites_regression.py
    */torch_concepts/data/datasets/mnist_arithmetic.py
    */torch_concepts/data/datasets/pendulum.py
    */torch_concepts/data/datasets/awa2.py
    # Exluding torch_concepts/data/datamodules/dataset_file.py
    */torch_concepts/data/datamodules/dsprites_regression.py
    */torch_concepts/data/datamodules/mnist_arithmetic.py
    */torch_concepts/data/datamodules/pendulum.py
    */torch_concepts/data/datamodules/awa2.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if self.verbose:
show_missing = True